<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
        <configuration>
    <!-- mybatis别名定义
    <typeAliases>
        <typeAlias alias="Token" type="cn.com.ssm.common.model.ImToken" />
    </typeAliases> -->


    <!--  setting设置，关系到mybatis的主要设置，关系到mybatis运行时的行为方式。
    <settings>
        <setting name="cacheEnabled" value="true" />   这个配置使全局的映射器启用或禁用 缓存
        <setting name="lazyLoadingEnabled" value="true" />
        <setting name="multipleResultSetsEnabled" value="true" />   允许或不允许多种结果集从一个单独 的语句中返回
        <setting name="useColumnLabel" value="true" />   使用列标签代替列名
        <setting name="useGeneratedKeys" value="false" />
        <setting name="autoMappingBehavior" value="PARTIAL" />
        <setting name="defaultExecutorType" value="SIMPLE" />
        <setting name="defaultStatementTimeout" value="25" />  设置超时时间, 它决定驱动等待一个数 据库响应的时间。
        <setting name="safeRowBoundsEnabled" value="false" />
        <setting name="mapUnderscoreToCamelCase" value="false" />
        <setting name="localCacheScope" value="SESSION" />
        <setting name="jdbcTypeForNull" value="OTHER" />
        <setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString" />
    </settings>
    -->
    <!--  导入连接数据库的配置资源 -->
    <properties resource="configs/configs.properties"/>

    <!-- 数据源和事务管理器对象 -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${main.db.driverClassName}"/>
                <property name="url" value="${main.db.url}"/>
                <property name="username" value="${main.db.username}"/>
                <property name="password" value="${main.db.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!-- 引入单个mapper文件  一般一个Mapper文件对应一个数据库操作Dao接口-->
        <!--<mapper resource="cn/com/ssm/common/mapper/ImTokenMapper.xml"/>-->

        <!-- 引入多个 -->
        <package name="cn/com/ssm/common/mapper"/>
    </mappers>

</configuration>